*{
font-family:"Onest" ;
padding: 0px;
margin: 0px;
box-sizing: border-box;
}
:root{
    --bgColor: #333;
    --textPrimary : #f5f5f5;
    --textSecondary: #666;
    --primaryColor:#fd4;
    --mdWeight:400;
    --boldWeight:700;

}
                    
body{
    background-color: var(--bgColor);
    color: var(--textPrimary);
    font-size: 1.4rem;
}
body h1{
    color: var(--primaryColor);
    font-weight: var(--mdWeight)
}
.main{
    width: 1300px;
    margin: 30px auto;
}

#header{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#buttons{
    text-align: right;
}

#info{
    color:var(--primaryColor)

}
button{
    background-color: #222222;
    padding: 10px 20px;
    border: none;
    color: var(--primaryColor);
    font-size: 1.2rem;
    border-radius: 10px;
    transition: all .2s ease-in;
}

button:hover{
    background-color: #4e4e4e;
    transform: scale(1.02);
}

div.word{
    display:inline-block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0 5px ;
}

div#game{
    line-height: 35px;
    height: 105px;
    overflow: hidden;
}